[coverage:run]
branch = True
source = mon_module  # Analyse seulement ce module

[coverage:report]
# Exclure toutes les lignes de code dans les fichiers de test, de configuration et les init
omit =
    mon_module/_tests/*
    conftest.py
    **/__init__.py

exclude_lines =
    # Ces commentaires excluent des lignes spécifiques si elles sont détectées
    pragma: no cover

exclude_also =
    if platform.system()
