# Dépendances du module
colorama    # Permet l'affichage de la couleur dans la console
numpy       # Bibliothèque baique de python
pandas      # Bibliothèque necessaire pour plotly
plotly      # Permet la création de graphiques intéractifs pour le monitoring
psutil      # Permet la récupération des informations systèmes pour le monitoring
py-cpuinfo  # Permet la récupération des informations du CPU pour le monitoring
GPUtil      # Permet la récupération des informations du GPU pour le monitoring

# Dépendances pour les Tests (pytest et ses "plugins")
pytest
pytest-cov
pytest-json
pytest-json-report
pytest-metadata

# Dépendances pour la documentation
sphinx
sphinx-autobuild
sphinx-rtd-theme
ansi2html  # Convertisseur ANSI vers HTML
